<a href="https://colab.research.google.com/github/Alexurm/Test_tasks/blob/main/Test_task_from_Magnetto_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тестовое задание SQL от Magnetto.pro

Есть проект-приложение, в котором пользователи могут принимать заказы на работу в каких-то подключенных туда же проектах и выполнять там поставленные задачи за денежное вознаграждение. База данных развернута под управлением PostgreSql.

## Описание данных

**Таблица `User`**  
Содержит данные о пользователях:
-	`user_id:bigint` – id клиента уникальный
-	`login:text` - логин клиента
-	`password_h:text` - пароль
-	`nickname:text` - псевдоним
-	`name:text` - имя пользователя
-	`created_dt:timestamp` – дата регистрации в системе
-	`email:text` - электронная почта пользователя

**Таблица `User_settings`**  
Содержит данные о настройках пользователей для приложения:
-	`creation_date:timestamp` – дата добавления новых параметров настройки для пользователя
-	`login:text` - на самом деле тут user_id (см. пояснения ниже)
-	`language:char(3)` - язык приложения
-	`timezone:int` - часовой пояс пользователя
-	`background_color:text` - настройка для виджетов пользователя
-	прочие не очень интересные данные

Т.к. было принято решение хранить всю историю изменения параметров настроек, то когда пользователь что-то меняет (например, язык приложения) – создается новая строка, включающая измененный параметр. Но разработчики накосячили и решили сначала, что пользователя в настройках определяет его login, а потом взяли и стали класть туда user_id. Но поле login уже переименовать не получилось.

**Таблица `User_task`**  
Таблица с выполненными пользователем работами, где хранится информация о том, какие задачи были выполнены, когда начаты, когда закончены, а также проекты, в которых задача ставилась и сколько денег пользователю за нее полагается:
-	`task_id:bigint` – уникальный идентификатор  задачи в другой таблице
-	`user_id:bigint` – идентификатор пользователя
-	`start_date:timestamp` – дата начала выполнения задачи пользователем
-	`finish_date:timestamp` – дата окончания выполнения задачи пользователем (может быть NULL, если задача еще не завершена)
-	`project_name:text` – проект, в котором выполнялась задача (на самом деле тут только ссылка на проект, но для простоты задачи пусть лежит название)
-	`reward_rub:numeric` – вознаграждение в рублях за эту задачу.

Время в таблице User_task указано в UTC.

## Схема базы данных

Предположим, как бы выглядела база данных по полученной в тестовом задании информации:

![image.png]()

https://drawsql.app/teams/alexanders-team-10/diagrams/test-database

**Столкнулся с проблемой при создании виртуальной базы данных - экспорт pd.to_sql с названием таблицы User не работает, на выходе пустая таблица. Поэтому я экспортирую сразу с короткими наименованиями**: 

1.   User AS u
2.   User_task AS ut
3.   User_settings AS us

*Далее в селектах я буду сразу обращаться к псевдонимам. В реальной базе данных обращение было бы по полному имени таблицы вида:  
SELECT *  
FROM User AS u.*

## Постановка задачи

Необходимо раз в сутки собрать отчет, в котором будет указано для каждого пользователя:
Кто (`login` и `user_id`) сколько задач выполнил в текущем месяце (`count_complited`), с учетом только полных дней, сколько суммарно затратил времени (`total_time`), сколько в среднем тратил время на 1 задачу(`avg_time`), в скольких разных проектах поучаствовал (`project_count`), общая сумма вознаграждения(`total_reward`), которая ему причитается за все выполненные задачи в текущем месяце, а также суммы дополнительно по каждому проекту одной строкой «Проект1: x.xx руб.; Проект2: y.yy руб.»  (собрать данные суммарного вознаграждения пользователя по задачам в разбивке по проектам, перечислив название каждого проекта, где он имеет не нулевое вознаграждение и сумму) в указанном формате (extended_info, можно не строкой, но так, что бы только 1 объектом все возвращалось). Так же подтянуть в эту таблицу предпочитаемый `background_color` из последних настроек пользователя (что бы отправляя потом данные клиенту сразу было понятно, какой там фон рисовать в письме) и `email` из настроек. Добавить к собранной информации по каждому пользователю кол-во задач, находящихся в обработке на данный момент (`current_task_count`)  пользователя.

Поля результирующей таблицы (собрать sql-скриптом):
- `User_id` 
- `login`
- `email` 
- `count_complited`
- `total_time` 
- `avg_time`
- `project_count` 
- `total_reward`
- `extended_info`
- `background_color`
- `current_task_count`

# Подключение к PostgreSQL и импорт библиотек

In [ ]:
# импортируем библиотеки
import pandas as pd

from sqlalchemy import create_engine, text

In [ ]:
# сохраняем коннектор
engine = create_engine('postgresql+psycopg2://magnetto_pro_user:GkXsT7vIDoA2oDIY5h6bjj9JAgqkOCnY@dpg-chjpmhorddlddrgs2650-a.frankfurt-postgres.render.com/magnetto_pro')

Напишем короткую функцию `select()`, чтобы оптимизировать запрос к базе данных:

In [ ]:
def select(query):
  return pd.read_sql_query(sql=text(query), con=engine.connect())

Для теста сформируем небольшой датафрейм, зальем его в БД и направим к нему SQL запрос:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4]})

In [ ]:
df.to_sql('my_table',engine,index=False,if_exists='replace',method='multi')

4

In [ ]:
query = '''
        SELECT *
        FROM my_table AS t
        '''

In [ ]:
select(query)

   col1
0     1
1     2
2     3
3     4

Данные получены, проверка пройдена, можно выполнять тестовое задание.

# Создание тестовых таблиц

## Таблица `User`

Создадим набор некоторых 5 случайных пользователей:

In [ ]:
user = pd.DataFrame({'user_id': [1001, 1002, 1003, 1004, 1005],
                     'login': ['Tellen', 'Myrna', 'Draghen', 'Veretch', 'Naelli'],
                     'password_h': ['5H-urR8Dgn', 'Sxc0-0S6f2', '8r-nWKgblY', 'CSo6D5-xMT', 'MYQIz6adv_'],
                     'nickname': ['Tellen', 'Myrna', 'Draghen', 'Veretch', 'Naelli'],
                     'name': ['Даниил', 'Александра', 'Mark', 'Martha', 'София'],
                     'created_dt': pd.to_datetime(['2021-05-01 11:12:37', '2022-07-17 7:55:01', '2022-06-11 15:23:45', '2023-01-03 12:33:01', '2022-02-15 23:02:37'], format='%Y-%m-%d %H:%M:%S'),
                     'email': ['Tellen@mail.ru', 'Myrna07@yandex.ru', 'Draghen666@gmail.com', 'Veretch99@gmail.com', 'Sofi_1989@mail.ru']})
user

,user_id,login,password_h,nickname,name,created_dt,email
0,1001,Tellen,5H-urR8Dgn,Tellen,Даниил,2021-05-01 11:12:37,Tellen@mail.ru
1,1002,Myrna,Sxc0-0S6f2,Myrna,Александра,2022-07-17 07:55:01,Myrna07@yandex.ru
2,1003,Draghen,8r-nWKgblY,Draghen,Mark,2022-06-11 15:23:45,Draghen666@gmail.com
3,1004,Veretch,CSo6D5-xMT,Veretch,Martha,2023-01-03 12:33:01,Veretch99@gmail.com
4,1005,Naelli,MYQIz6adv_,Naelli,София,2022-02-15 23:02:37,Sofi_1989@mail.ru

In [ ]:
# зальем тестовые данные в SQL
user.to_sql('u',con=engine, index=False, if_exists='replace')

5

In [ ]:
# напишем запрос к таблице
query = '''
        SELECT *
        FROM u
        -- в больших таблицах целесообразно ограничивать выборку, но в тестовой можно закомментить --
        -- LIMIT 10 --
        '''
select(query)

,user_id,login,password_h,nickname,name,created_dt,email
0,1001,Tellen,5H-urR8Dgn,Tellen,Даниил,2021-05-01 11:12:37,Tellen@mail.ru
1,1002,Myrna,Sxc0-0S6f2,Myrna,Александра,2022-07-17 07:55:01,Myrna07@yandex.ru
2,1003,Draghen,8r-nWKgblY,Draghen,Mark,2022-06-11 15:23:45,Draghen666@gmail.com
3,1004,Veretch,CSo6D5-xMT,Veretch,Martha,2023-01-03 12:33:01,Veretch99@gmail.com
4,1005,Naelli,MYQIz6adv_,Naelli,София,2022-02-15 23:02:37,Sofi_1989@mail.ru

## Таблица `User_settings`

Создадим таблицу с настройками пользователей:

In [ ]:
user_settings = pd.DataFrame({'creation_date': pd.to_datetime(['2021-05-01 11:12:37', 
                                                               '2022-07-17 7:55:01', 
                                                               '2022-06-11 15:23:45', 
                                                               '2023-01-03 12:33:01', 
                                                               '2022-02-15 23:02:37',
                                                               '2023-01-26 12:11:44',
                                                               '2023-04-04 14:14:03'], format='%Y-%m-%d %H:%M:%S'),
                              'login': [1001, 1002, 1003, 1004, 1005, 1003, 1001],
                              'language': ['RUS', 'RUS', 'ENG', 'ENG', 'RUS', 'ENG', 'RUS'],
                              'timezone': [3,3,1,2,4,1,3],
                              'background_color':['red', 'blue', 'white', 'grey', 'blue', 'grey', 'white']})
user_settings

        creation_date  login language  timezone background_color
0 2021-05-01 11:12:37   1001      RUS         3              red
1 2022-07-17 07:55:01   1002      RUS         3             blue
2 2022-06-11 15:23:45   1003      ENG         1            white
3 2023-01-03 12:33:01   1004      ENG         2             grey
4 2022-02-15 23:02:37   1005      RUS         4             blue
5 2023-01-26 12:11:44   1003      ENG         1             grey
6 2023-04-04 14:14:03   1001      RUS         3            white

In [ ]:
# зальем тестовые данные в SQL
user_settings.to_sql('us',con=engine, index=False, if_exists='replace')

7

In [ ]:
# напишем запрос к таблице
query = '''
        SELECT *
        FROM us
        -- в больших таблицах целесообразно ограничивать выборку, но в тестовой можно закомментить --
        -- LIMIT 10 --
        '''
select(query)

        creation_date  login language  timezone background_color
0 2021-05-01 11:12:37   1001      RUS         3              red
1 2022-07-17 07:55:01   1002      RUS         3             blue
2 2022-06-11 15:23:45   1003      ENG         1            white
3 2023-01-03 12:33:01   1004      ENG         2             grey
4 2022-02-15 23:02:37   1005      RUS         4             blue
5 2023-01-26 12:11:44   1003      ENG         1             grey
6 2023-04-04 14:14:03   1001      RUS         3            white

## Таблица `User_task`

Создадим таблицу с задачами пользователей:

In [ ]:
user_task = pd.DataFrame({'task_id': [81897, 82546, 83444, 82323, 85434, 86444, 87777, 88192, 88456, 88999, 91221],
                          'user_id': [1003, 1001, 1002, 1003, 1004, 1005, 1003, 1001, 1001, 1002, 1005],
                          'start_date': pd.to_datetime(['2023-04-20 11:11:05',
                                                        '2023-04-28 14:34:40', 
                                                        '2023-04-30 19:45:22', 
                                                        '2023-05-01 14:41:45', 
                                                        '2023-05-02 19:22:01', 
                                                        '2023-05-05 21:34:23',
                                                        '2023-05-05 16:01:24',
                                                        '2023-05-06 11:14:53',
                                                        '2023-05-10 14:28:34',
                                                        '2023-05-14 12:28:14',
                                                        '2023-05-12 16:31:22'], format='%Y-%m-%d %H:%M:%S'),
                          'finish_date': pd.to_datetime(['2023-04-29 16:45:03',
                                                         '2023-05-01 12:12:40', 
                                                         '2023-05-12 23:15:22', 
                                                         '2023-05-10 09:23:12', 
                                                         '2023-05-15 13:12:45', 
                                                         '2023-05-10 18:38:23',
                                                         '2023-05-08 11:21:24',
                                                         '2023-05-08 12:14:22',
                                                         '',
                                                         '',
                                                         '2023-05-19 09:12:00'], format='%Y-%m-%d %H:%M:%S'),
                          'project_name': ['Проект2', 'Проект1', 'Проект2', 'Проект2', 'Проект1', 'Проект2', 'Проект2', 'Проект2', 'Проект1', 'Проект1', 'Проект2'],
                          'reward_rub': [1000, 889, 1000, 2495, 2323, 5000, 9999, 4677, 10000, 8880, 7423]
                          })

user_task

,task_id,user_id,start_date,finish_date,project_name,reward_rub
0,81897,1003,2023-04-20 11:11:05,2023-04-29 16:45:03,Проект2,1000
1,82546,1001,2023-04-28 14:34:40,2023-05-01 12:12:40,Проект1,889
2,83444,1002,2023-04-30 19:45:22,2023-05-12 23:15:22,Проект2,1000
3,82323,1003,2023-05-01 14:41:45,2023-05-10 09:23:12,Проект2,2495
4,85434,1004,2023-05-02 19:22:01,2023-05-15 13:12:45,Проект1,2323
5,86444,1005,2023-05-05 21:34:23,2023-05-10 18:38:23,Проект2,5000
6,87777,1003,2023-05-05 16:01:24,2023-05-08 11:21:24,Проект2,9999
7,88192,1001,2023-05-06 11:14:53,2023-05-08 12:14:22,Проект2,4677
8,88456,1001,2023-05-10 14:28:34,NaT,Проект1,10000
9,88999,1002,2023-05-14 12:28:14,NaT,Проект1,8880
10,91221,1005,2023-05-12 16:31:22,2023-05-19 09:12:00,Проект2,7423

In [ ]:
# зальем тестовые данные в SQL
user_task.to_sql('ut',con=engine, index=False, if_exists='replace')

11

In [ ]:
# напишем запрос к таблице
query = '''
        SELECT *
        FROM ut
        -- в больших таблицах целесообразно ограничивать выборку, но в тестовой можно закомментить --
        -- LIMIT 10 --
        '''
select(query)

,task_id,user_id,start_date,finish_date,project_name,reward_rub
0,81897,1003,2023-04-20 11:11:05,2023-04-29 16:45:03,Проект2,1000
1,82546,1001,2023-04-28 14:34:40,2023-05-01 12:12:40,Проект1,889
2,83444,1002,2023-04-30 19:45:22,2023-05-12 23:15:22,Проект2,1000
3,82323,1003,2023-05-01 14:41:45,2023-05-10 09:23:12,Проект2,2495
4,85434,1004,2023-05-02 19:22:01,2023-05-15 13:12:45,Проект1,2323
5,86444,1005,2023-05-05 21:34:23,2023-05-10 18:38:23,Проект2,5000
6,87777,1003,2023-05-05 16:01:24,2023-05-08 11:21:24,Проект2,9999
7,88192,1001,2023-05-06 11:14:53,2023-05-08 12:14:22,Проект2,4677
8,88456,1001,2023-05-10 14:28:34,NaT,Проект1,10000
9,88999,1002,2023-05-14 12:28:14,NaT,Проект1,8880
10,91221,1005,2023-05-12 16:31:22,2023-05-19 09:12:00,Проект2,7423

# Создание запроса для формирования отчета

Очевидно, что итоговый запрос будет достаточно сложным и объемным. Выполним несколько подзапросов, которые потом будем собирать вместе через WITH.

Для начала сформируем условие, по которому будет ограничиваться выборка данных только в **текущем** месяце и с условием отбора только **полных** дней (т.е. если мы формируем отчет на текущую дату к примеру в 12:00, то выполненная в этот же день задача в 9:00 в выборку не попадает), а также сюда добавим вычисляемое поле по длительности выполнения задачи в часах (без округления). Данной временной таблице присвоим псевдоним `i1`:

In [ ]:
query = '''
        WITH 
        i1 AS (SELECT *, 
               -- получим время выполнения задачи в секундах и переведем в часы --
                      EXTRACT(EPOCH FROM (ut.finish_date - ut.start_date))/3600 AS task_duration
               FROM ut
               -- условие отбора записей в текущем месяце --
               WHERE date_trunc('month', ut.finish_date) = date_trunc('month', NOW()) AND
               -- условие отбора полных дней --
                     date_trunc('day', ut.finish_date) < date_trunc('day', NOW()))

        SELECT *
        FROM i1
        '''
select(query)

,task_id,user_id,start_date,finish_date,project_name,reward_rub,task_duration
0,82546,1001,2023-04-28 14:34:40,2023-05-01 12:12:40,Проект1,889,69.633333
1,83444,1002,2023-04-30 19:45:22,2023-05-12 23:15:22,Проект2,1000,291.500000
2,82323,1003,2023-05-01 14:41:45,2023-05-10 09:23:12,Проект2,2495,210.690833
3,85434,1004,2023-05-02 19:22:01,2023-05-15 13:12:45,Проект1,2323,305.845556
4,86444,1005,2023-05-05 21:34:23,2023-05-10 18:38:23,Проект2,5000,117.066667
5,87777,1003,2023-05-05 16:01:24,2023-05-08 11:21:24,Проект2,9999,67.333333
6,88192,1001,2023-05-06 11:14:53,2023-05-08 12:14:22,Проект2,4677,48.991389
7,91221,1005,2023-05-12 16:31:22,2023-05-19 09:12:00,Проект2,7423,160.677222

В таблицу `i1` не попали задачи, которые были выполнены в предыдущем месяце, а также задачи в процессе выполнения. Напишем подзапрос `i2` к таблице `i1`, чтобы рассчитать для каждого пользователя (`user_id`) в текущем месяце:


*   Количество выполненных задач `count_complited`
*   Общее затраченное время в часах на выполнение задач `total_time`
*   Среднее потраченное время на выполнение одной задачи `avg_time`
*   Количество разных проектов `project_count`
*   Общая сумма вознаграждения `total_reward`

In [ ]:
query = '''
        WITH 
        -- временная таблица, ограничивающая выборку --
        i1 AS (SELECT *, 
                     -- получим время выполнения задачи в секундах и переведем в часы --
                     EXTRACT(EPOCH FROM (ut.finish_date - ut.start_date))/3600 AS task_duration
               FROM ut
               -- условие отбора записей в текущем месяце --
               WHERE date_trunc('month', ut.finish_date) = date_trunc('month', NOW()) AND
               -- условие отбора полных дней --
               date_trunc('day', ut.finish_date) < date_trunc('day', NOW())),
        
        -- временная таблица для подсчета выполненных задач, времени, проектов и полного вознаграждения -- 
        i2 AS (SELECT user_id, 
                      COUNT(i1.task_id) AS count_complited,
                      SUM(i1.task_duration) AS total_time,
                      SUM(i1.task_duration) / COUNT(i1.task_id) AS avg_time,
                      COUNT(DISTINCT i1.project_name) AS project_count,
                      SUM(reward_rub) AS total_reward
               FROM i1
               GROUP BY i1.user_id)

        SELECT *
        FROM i2
        '''
select(query)

,user_id,count_complited,total_time,avg_time,project_count,total_reward
0,1001,2,118.624722,59.312361,2,5566.0
1,1002,1,291.500000,291.500000,1,1000.0
2,1003,2,278.024167,139.012083,1,12494.0
3,1004,1,305.845556,305.845556,1,2323.0
4,1005,2,277.743889,138.871944,1,12423.0

Итак, уже есть основная информация по пользователям, рассчитаем количество текущих выполняемых задач `current_task_count` во временной таблице `i3`:

In [ ]:
query = '''
        WITH 
        -- временная таблица для подсчета выполняемых задач --
        i3 AS (SELECT ut.user_id,
                      SUM(CASE 
                              WHEN date_trunc('day', ut.finish_date) = date_trunc('day', NOW()) 
                                   OR ut.finish_date IS NULL THEN 1
                          ELSE 0
                          END) AS current_task_count
               FROM ut
               GROUP BY ut.user_id) 


        SELECT *
        FROM i3
        '''
select(query)

   user_id  current_task_count
0     1002                   1
1     1003                   0
2     1004                   0
3     1001                   1
4     1005                   0

Добавим информацию о последних настройках пользователя во временную таблицу `i4`. Для этого придется выполнить ранжирование оконной функцией ROW_NUMBER, чтобы последним изменениям был присвоен ранг 1:

In [ ]:
query = '''
        WITH 
        -- временная таблица для фильтрации последних изменений настроек пользователей --
        i4 AS (SELECT *
               FROM (SELECT *,
                            row_number() OVER (PARTITION BY login ORDER BY creation_date DESC) AS rn
                     FROM us
                     ORDER BY login, creation_date) AS x
                     --WHERE x.rn = 1 --
                     )
        SELECT *
        FROM i4
        ORDER BY login, rn
        '''
select(query)

        creation_date  login language  timezone background_color  rn
0 2023-04-04 14:14:03   1001      RUS         3            white   1
1 2021-05-01 11:12:37   1001      RUS         3              red   2
2 2022-07-17 07:55:01   1002      RUS         3             blue   1
3 2023-01-26 12:11:44   1003      ENG         1             grey   1
4 2022-06-11 15:23:45   1003      ENG         1            white   2
5 2023-01-03 12:33:01   1004      ENG         2             grey   1
6 2022-02-15 23:02:37   1005      RUS         4             blue   1

Убедились, что последним изменениям присвоен ранг 1, в подзапросе есть закомментированное условие отбора WHERE x.rn = 1, которое включим в итоговом запросе.

Переходим к последней части задачи, а именно формирование столбца `extended_info`, т.е. суммы вознаграждений по проектам в текущем месяце для каждого пользователя одной строкой формата «Проект1: x.xx руб.; Проект2: y.yy руб.»  
Для более удобного восприятия этот запрос будет выполняться последовательно через каскад временных таблиц:

In [ ]:
query = '''
        WITH 
        -- временная таблица, ограничивающая выборку --
        i1 AS (SELECT *, 
                     -- получим время выполнения задачи в секундах и переведем в часы --
                     EXTRACT(EPOCH FROM (ut.finish_date - ut.start_date))/3600 AS task_duration
               FROM ut
               -- условие отбора записей в текущем месяце --
               WHERE date_trunc('month', ut.finish_date) = date_trunc('month', NOW()) AND
               -- условие отбора полных дней --
               date_trunc('day', ut.finish_date) < date_trunc('day', NOW())),

        -- выполним группировку по пользователям и проектам с подсчетом суммы вознаграждения --
        i5 AS (SELECT user_id, 
                      project_name, 
                      SUM(reward_rub) AS total_reward
               FROM i1
               GROUP BY user_id, project_name
               HAVING SUM(reward_rub) > 0), 

        -- склеим между собой данные из столбцов project_name и total_reward --
        i6 AS (SELECT *,
                      CONCAT(project_name, ': ', total_reward, ' руб.') AS extended_info
              FROM i5),

        -- выполним группировку записей по user_id --
        i7 AS (SELECT user_id,
                      STRING_AGG(extended_info, '; ') AS extended_info
               FROM i6   
               GROUP BY user_id)

        SELECT *
        FROM i7
        '''
select(query)

   user_id                          extended_info
0     1001  Проект1: 889 руб.; Проект2: 4677 руб.
1     1002                     Проект2: 1000 руб.
2     1003                    Проект2: 12494 руб.
3     1004                     Проект1: 2323 руб.
4     1005                    Проект2: 12423 руб.

# Итоговый запрос

Соединим ранее сформированные временные таблицы в единый запрос, выполним необходимые джойны и получим интересующие нас данные (длительность в часах округлим до одного знака после запятой):

In [ ]:
query = '''
        WITH 
        -- временная таблица, ограничивающая выборку --
        i1 AS (SELECT *, 
                     -- получим время выполнения задачи в секундах и переведем в часы --
                     EXTRACT(EPOCH FROM (ut.finish_date - ut.start_date))/3600 AS task_duration
               FROM ut
               -- условие отбора записей в текущем месяце --
               WHERE date_trunc('month', ut.finish_date) = date_trunc('month', NOW()) AND
               -- условие отбора полных дней --
               date_trunc('day', ut.finish_date) < date_trunc('day', NOW())),
        
        -- временная таблица для подсчета выполненных задач, времени, проектов и полного вознаграждения -- 
        i2 AS (SELECT user_id, 
                      COUNT(i1.task_id) AS count_complited,
                      SUM(i1.task_duration) AS total_time,
                      SUM(i1.task_duration) / COUNT(i1.task_id) AS avg_time,
                      COUNT(DISTINCT i1.project_name) AS project_count,
                      SUM(reward_rub) AS total_reward
               FROM i1
               GROUP BY i1.user_id),

        -- временная таблица для подсчета выполняемых задач --
        i3 AS (SELECT ut.user_id,
                      SUM(CASE 
                              WHEN date_trunc('day', ut.finish_date) = date_trunc('day', NOW()) 
                                   OR ut.finish_date IS NULL THEN 1
                          ELSE 0
                          END) AS current_task_count
               FROM ut
               GROUP BY ut.user_id),   

        -- временная таблица для фильтрации последних изменений настроек пользователей --
        i4 AS (SELECT *
               FROM (SELECT *,
                            row_number() OVER (PARTITION BY login ORDER BY creation_date DESC) AS rn
                     FROM us
                     ORDER BY login, creation_date) AS x
                     WHERE x.rn = 1),

         -- выполним группировку по пользователям и проектам с подсчетом суммы вознаграждения --
        i5 AS (SELECT user_id, 
                      project_name, 
                      SUM(reward_rub) AS total_reward
               FROM i1
               GROUP BY user_id, project_name
               HAVING SUM(reward_rub) > 0), 

        -- склеим между собой данные из столбцов project_name и total_reward --
        i6 AS (SELECT *,
                      CONCAT(project_name, ': ', total_reward, ' руб.') AS extended_info
              FROM i5),

        -- выполним группировку записей по user_id --
        i7 AS (SELECT user_id,
                      STRING_AGG(extended_info, '; ') AS extended_info
               FROM i6   
               GROUP BY user_id)       
                       

        SELECT u.user_id, 
               u.login, 
               u.email, 
               i2.count_complited, 
               ROUND(i2.total_time, 1) AS total_time, 
               ROUND(i2.avg_time, 1) AS avg_time, 
               i2.project_count, 
               i2.total_reward, 
               i7.extended_info,
               i4.background_color,
               i3.current_task_count
        FROM i2
        -- присоединим информацию о пользователях, которые попали в выборку --
        LEFT JOIN u ON u.user_id = i2.user_id
        -- присоединим таблицу с информацией о выполняемых задачах --
        LEFT JOIN i3 ON i3.user_id = u.user_id
        -- присоединими таблицу с информацией о настройке виджетов пользователей --
        LEFT JOIN i4 ON i4.login = u.user_id
        -- присоединим таблицу с информацией о сумме вознаграждения по проектам --
        LEFT JOIN i7 ON i7.user_id = u.user_id
        ORDER BY u.user_id
        '''
report = select(query)
report

,user_id,login,email,count_complited,total_time,avg_time,project_count,total_reward,extended_info,background_color,current_task_count
0,1001,Tellen,Tellen@mail.ru,2,118.6,59.3,2,5566.0,Проект2: 4677 руб.; Проект1: 889 руб.,white,1
1,1002,Myrna,Myrna07@yandex.ru,1,291.5,291.5,1,1000.0,Проект2: 1000 руб.,blue,1
2,1003,Draghen,Draghen666@gmail.com,2,278.0,139.0,1,12494.0,Проект2: 12494 руб.,grey,0
3,1004,Veretch,Veretch99@gmail.com,1,305.8,305.8,1,2323.0,Проект1: 2323 руб.,grey,0
4,1005,Naelli,Sofi_1989@mail.ru,2,277.7,138.9,1,12423.0,Проект2: 12423 руб.,blue,0

# Заключение

Для решения этой довольно сложной и интересной тестовой задачи было выполнено несколько подготовительных действий:
1. Нарисована схема предполагаемой базы данных исходя из описания в задаче, определены первичные и уникальные ключи, расставлены необходимые связи.
2. Развернута виртуальная база данных под управлением PostgreSQL, параметры подключения: 'magnetto_pro_user:GkXsT7vIDoA2oDIY5h6bjj9JAgqkOCnY@dpg-chjpmhorddlddrgs2650-a.frankfurt-postgres.render.com/magnetto_pro'
3. Созданы тестовые таблицы `User`, `User_settings`, `User_task`. К сожалению, в БД не заливаются данные при использовании этих наименований таблиц (скорее всего они просто уже зарезервированы), использовались сразу псевдонимы.  
При этом необходимо принимать во внимание, что при работе с реальными базами даннных запрос необходимо писать полностью, например:  
   *SELECT *  
  FROM User AS u*

Итоговый запрос для формирования ежедневного отчета был сформирован последовательно через WITH и ряд временных таблиц. Форма отчета определена тестовым заданием, при необходимости можно скорректировать.  
Google Colab позволяет выгружать отчеты в формате xlsx:

In [ ]:
report.to_excel('daily_report.xlsx')
!cp daily_report.xlsx "drive/My Drive/"

cp: cannot create regular file 'drive/My Drive/': No such file or directory

Ниже приведен код для отправки отчета на почту, для тестирования я использовал свою почту на Яндексе, а получателем указал свой почтовый адрес на Gmail:

In [ ]:
import smtplib
from email.message import EmailMessage

SENDER_EMAIL = "alexurm90@yandex.ru"
# необходимо получить пароль для приложений (16 символов) и настроить разрешения, однако я по очевидным причинам уберу отсюда пароль
APP_PASSWORD = 'xxxxxxxxxxxxxxx'

def send_mail_with_excel(recipient_email, subject, content, excel_file):
    msg = EmailMessage()
    msg['Subject'] = subject
    msg['From'] = SENDER_EMAIL
    msg['To'] = recipient_email
    msg.set_content(content)

    with open(excel_file, 'rb') as f:
        file_data = f.read()
    msg.add_attachment(file_data, maintype="application", subtype="xlsx", filename=excel_file)

    with smtplib.SMTP_SSL('smtp.yandex.ru', 465) as smtp:
        smtp.login(SENDER_EMAIL, APP_PASSWORD)
        smtp.send_message(msg)

In [ ]:
send_mail_with_excel('alexurm90@gmail.com', 'Ежедневный отчет для Magnetto.pro', 'Привет, во вложении ежедневный отчет по пользователям приложения', 'daily_report.xlsx')

![image_123986672.JPG]()

p.s. Спасибо Magnetto.pro за интересное задание 😀